h1
{color: #000080;
text-align: center;}

h3
{color: #FF8C00;
text-align: left;}

body {color: black;
    text-align: left;
    }
    {
        background-image: url("braided.png");
    }

    ol {color:#FF4500;
    }

    ul {color: #FF4500;
     }

     nav a:hover{
         color:#008080;
      }
